<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>new chat</title>
</head>
<body>
    <h3>new chat </h3>
    <form method="post" action="/chats">
        <input placeholder="who are you?" name="from"><br><br>
        <textarea name="msg">Write a new message here...</textarea><br><br>
        <input placeholder="add reciver" name="to"><br><br>
     <button>Create chat</button>
    </form>
</body>
</html>